%form.col-md-6.col-md-offset-3
  .page-header
    %h2 Register
  .form-group
    %label Username
    %input.form-control(type="text")
  .form-group
    %label Email
    %input.form-control(type="text")
  .form-group
    %label Password
    %input.form-control(type="password")
  .form-group
    %input.btn.btn-primary.btn-block(type="submit")

  =link_to 'Take a sneak peak at the site first', home_path
