%h4 Add New Collection

.row
  %form.col-md-6
    .form-group
      %label.control-label Title
      %input.form-control(type="text")
    %input.btn.btn-primary(type="submit" value="Add New Collection")
