.page-header.text-center
  %h2 Code Kindergarten
.lead.col-md-8.col-md-offset-2.text-center
  This is an app about the uses of this app and how it is good at all things. Yes, you better believe it - this is a good app!
.col-md-6.col-md-offset-3
  %img.landing-image(src="/tmp/report_card.png")
  %a.btn.btn-primary.btn-block.landing-button Register
