.row.page-header
  .col-md-5
    %h2 TDD in Ruby Collection
  .col-md-7
    %form.form-inline.filter-form
      .form-group
        %select.form-control
          %option(value="") Alphabetical
          %option(value="") Most report cards
      .form-group
        %select.form-control
          %option(value="") Alphabetical
          %option(value="") Most report cards
      .form-group
        %select.form-control
          %option(value="") Alphabetical
          %option(value="") Most report cards
      %input.btn.btn-primary(type="submit" value="Sort")

.row
  - 4.times do
    .col-md-3
      .report-card-box
        %h4 
          %a TDD in Ruby
        %p This is a very nice report card
        %p Grade: #{%w(A B C D).sample}
